In [1]:
## Importing the basis important libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline 
##Making connection with mongo DB database to fetch the dataset
import pymongo
client = pymongo.MongoClient('mongodb+srv://host:0pQPoWnWMSlypR0N@cluster0.alpnhdp.mongodb.net/?retryWrites=true&w=majority')
db = client['task']

In [2]:
coll = db['Census_Income_Data_Set']
print(coll)

Collection(Database(MongoClient(host=['ac-zxbeeuq-shard-00-01.alpnhdp.mongodb.net:27017', 'ac-zxbeeuq-shard-00-00.alpnhdp.mongodb.net:27017', 'ac-zxbeeuq-shard-00-02.alpnhdp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-sq198j-shard-0', tls=True), 'task'), 'Census_Income_Data_Set')

In [3]:
## Fetching the data using .find() and list comprehance 
data = [i for i in coll.find()]

In [4]:
## Converting the data into DataFrame
df = pd.DataFrame(data)
df.head()

,_id,index,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Result
0,6364d2ed7bb091fd14c92d55,12,3.465736,4.0,12.230858,7.0,12.0,4.0,12.0,1.0,2.0,1.0,0.0,0.0,50.0,39.0,0.0
1,6364d2ed7bb091fd14c92d70,39,3.433987,4.0,13.137991,6.0,5.0,2.0,7.0,0.0,4.0,1.0,0.0,0.0,43.0,39.0,0.0
2,6364d2ed7bb091fd14c92d80,55,3.828641,4.0,12.286112,4.0,4.5,2.0,7.0,0.0,4.0,1.0,0.0,0.0,40.0,26.0,0.0
3,6364d2ed7bb091fd14c92d81,56,3.555348,4.0,10.939373,8.0,11.0,2.0,8.0,0.0,4.0,1.0,0.0,0.0,40.0,33.0,0.0
4,6364d2ed7bb091fd14c92d8c,67,3.891820,5.0,12.163588,15.0,10.0,2.0,4.0,0.0,4.0,1.0,0.0,0.0,50.0,39.0,1.0

In [5]:
## Droping Unwanted Colums
df_cp = df.drop(['_id','index'],axis=1)

In [6]:
## Checking for DAtaset
df_cp.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Result
0,3.465736,4.0,12.230858,7.0,12.0,4.0,12.0,1.0,2.0,1.0,0.0,0.0,50.0,39.0,0.0
1,3.433987,4.0,13.137991,6.0,5.0,2.0,7.0,0.0,4.0,1.0,0.0,0.0,43.0,39.0,0.0
2,3.828641,4.0,12.286112,4.0,4.5,2.0,7.0,0.0,4.0,1.0,0.0,0.0,40.0,26.0,0.0
3,3.555348,4.0,10.939373,8.0,11.0,2.0,8.0,0.0,4.0,1.0,0.0,0.0,40.0,33.0,0.0
4,3.891820,5.0,12.163588,15.0,10.0,2.0,4.0,0.0,4.0,1.0,0.0,0.0,50.0,39.0,1.0

In [7]:
## Checking BAsic Info
df_cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32536 entries, 0 to 32535
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32536 non-null  float64
 1   workclass       32536 non-null  float64
 2   fnlwgt          32536 non-null  float64
 3   education       32536 non-null  float64
 4   education-num   32536 non-null  float64
 5   marital-status  32536 non-null  float64
 6   occupation      32536 non-null  float64
 7   relationship    32536 non-null  float64
 8   race            32536 non-null  float64
 9   sex             32536 non-null  float64
 10  capital-gain    32536 non-null  float64
 11  capital-loss    32536 non-null  float64
 12  hours-per-week  32536 non-null  float64
 13  native-country  32536 non-null  float64
 14  Result          32536 non-null  float64
dtypes: float64(15)
memory usage: 3.7 MB

In [8]:
## Now we will seprate dependend and independent features from the dataset
x = df_cp.drop('Result',axis=1)
y = df_cp['Result']

In [9]:
## now split the dataset into traning/test dataset
from sklearn.model_selection import train_test_split
x_train, x_test,y_train, y_test = train_test_split(x,y ,
                                   random_state=42, 
                                   test_size=0.33)

In [10]:
## Scaled the data 
from sklearn.preprocessing import StandardScaler
scaler1 = StandardScaler()
x_train = scaler1.fit_transform(x_train)
x_test = scaler1.transform(x_test)

In [11]:
## Importing the roc auc curve for performance score
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

In [21]:
## Importin and traning the Logistic regression model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
log_classifier=LogisticRegression()
log_classifier.fit(x_train, y_train)
## Printing the roc auc score of model
ytrain_pred_logC= log_classifier.predict_proba(x_train)
ytest_pred_logC = log_classifier.predict_proba(x_test)
print('Logistic train roc-auc: {}'.format(roc_auc_score(y_train, ytrain_pred_logC[:,1])))
print('Logistic test roc-auc: {}'.format(roc_auc_score(y_test, ytest_pred_logC[:,1])))

Logistic train roc-auc: 0.8482878326017946
Logistic test roc-auc: 0.8523967155014516

In [19]:
## Importing the SVC model and traning it.
from sklearn.svm import SVC
SVC_classifier = SVC()
SVC_classifier.fit(x_train, y_train)
ytest_pred_svc = SVC_classifier.predict(x_test)
ytrain_pred_svc = SVC_classifier.predict(x_train)
## Printing the accuracy of the svc model
print('Accuracy Score of SVC on Train Dataset: {}'.format(accuracy_score(y_train, ytrain_pred_svc)))
print('Accuracy Score of SVC on Test Dataset: {}'.format(accuracy_score(y_test, ytest_pred_svc)))
print('SVC train roc-auc: {}'.format(roc_auc_score(y_train, ytrain_pred_svc)))
print('SVC test roc-auc: {}'.format(roc_auc_score(y_test, ytest_pred_svc)))

Accuracy Score of SVC on Train Dataset: 0.8512317078765081
Accuracy Score of SVC on Test Dataset: 0.8444630716214958
SVC train roc-auc: 0.7431405321370926
SVC test roc-auc: 0.7335217926247293

In [26]:
SVC_classifier2 = SVC(kernel='sigmoid')
SVC_classifier2.fit(x_train, y_train)
ytest_pred_svc = SVC_classifier2.predict(x_test)
ytrain_pred_svc = SVC_classifier2.predict(x_train)
## Printing the accuracy of the svc model
print('Accuracy Score of SVC on Train Dataset: {}'.format(accuracy_score(y_train, ytrain_pred_svc)))
print('Accuracy Score of SVC on Test Dataset: {}'.format(accuracy_score(y_test, ytest_pred_svc)))
print('SVC train roc-auc: {}'.format(roc_auc_score(y_train, ytrain_pred_svc)))
print('SVC test roc-auc: {}'.format(roc_auc_score(y_test, ytest_pred_svc)))

Accuracy Score of SVC on Train Dataset: 0.7503555208954539
Accuracy Score of SVC on Test Dataset: 0.7557045729719661
SVC train roc-auc: 0.6570659998829833
SVC test roc-auc: 0.6639736188603185

In [27]:
SVC_classifier3 = SVC(kernel='poly')
SVC_classifier3.fit(x_train, y_train)
ytest_pred_svc = SVC_classifier3.predict(x_test)
ytrain_pred_svc = SVC_classifier3.predict(x_train)
## Printing the accuracy of the svc model
print('Accuracy Score of SVC on Train Dataset: {}'.format(accuracy_score(y_train, ytrain_pred_svc)))
print('Accuracy Score of SVC on Test Dataset: {}'.format(accuracy_score(y_test, ytest_pred_svc)))
print('SVC train roc-auc: {}'.format(roc_auc_score(y_train, ytrain_pred_svc)))
print('SVC test roc-auc: {}'.format(roc_auc_score(y_test, ytest_pred_svc)))

Accuracy Score of SVC on Train Dataset: 0.8428827010413321
Accuracy Score of SVC on Test Dataset: 0.835801434292633
SVC train roc-auc: 0.7212601619167398
SVC test roc-auc: 0.7113353010003219

In [28]:
SVC_classifier4 = SVC(kernel='linear')
SVC_classifier4.fit(x_train, y_train)
ytest_pred_svc = SVC_classifier4.predict(x_test)
ytrain_pred_svc = SVC_classifier4.predict(x_train)
## Printing the accuracy of the svc model
print('Accuracy Score of SVC on Train Dataset: {}'.format(accuracy_score(y_train, ytrain_pred_svc)))
print('Accuracy Score of SVC on Test Dataset: {}'.format(accuracy_score(y_test, ytest_pred_svc)))
print('SVC train roc-auc: {}'.format(roc_auc_score(y_train, ytrain_pred_svc)))
print('SVC test roc-auc: {}'.format(roc_auc_score(y_test, ytest_pred_svc)))

Accuracy Score of SVC on Train Dataset: 0.817881554199734
Accuracy Score of SVC on Test Dataset: 0.8173605290118282
SVC train roc-auc: 0.6798310617952901
SVC test roc-auc: 0.6770370882119594

In [ ]:
## PErforming the hiper paraeter tuning of the SVR 
## For that we are using gridsearch and traning it with diffrent parameter for SVC model
para = {
    "C":[0.01,0.1,1,10,100,1000],
    'kernel':["sigmoid","rbf","poly","linear"]
    }
from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(SVC_classifier,para)
grid.fit(x_train, y_train)
print('Best Score: {}'.format(grid.best_score_))
print('Best Parameter: {}'.format(grid.best_params_))
grid.score

In [24]:
## taking too long So saving both the model with scaler
import pickle
pickle.dump(SVC_classifier,open('SVC.sav','wb'))
pickle.dump(log_classifier,open('logistic_reg.sav','wb'))
pickle.dump(scaler1,open('scaler.sav','wb'))